body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* css untuk soal */
.no_soal {
  width: 900px;
  margin: auto;
  background-color: lightskyblue;
  padding: 5px;
  border-radius: 10px;
}

.pertanyaan {
  width: 890px;
  border-top: 5px solid lightskyblue;
  border-left: 5px solid lightskyblue;
  border-right: 5px solid lightskyblue;
  margin-top: -10px;
  margin-left: 45px;
  padding: 5px;
}


.jawaban {
  border-left: 5px solid lightskyblue;
  border-right: 5px solid lightskyblue;
  border-bottom: 3px solid lightskyblue;
  margin-top: -10px;
  padding: 5px;
  margin-left: 45px;
  margin-right: 45px;
}


.isi {
  height: 200px;
  margin-bottom: 10px;
}

.daftar-soal {
  width: 900px;
  height: 50px;
  margin-left: 46px;
  margin-top: 10px;
  background-color: lightskyblue;
  padding: 5px;
  border-radius: 10px;
}

.daftar-soal h3 {
  margin-top: 10px;
}

.list-soal {
  width: 890px;
  padding: 5px;
  border-top: 5px solid lightskyblue;
  border-left: 5px solid lightskyblue;
  border-right: 5px solid lightskyblue;
  margin-left: 46px;
  margin-top: -10px;
}

.list-soal ul {
  margin-left: -30px;
}

.list-soal ul li {
  display: inline-block;
  border: 2px solid black;
  width: 50px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}

.list-soal ul li:hover {
  background-color: lightblue;
}

.list-soal a {
  text-decoration: none;
  color: black;
}

.list-soal a:hover {
  color: white;
}
